NODE_ENV="development"
APP_NAME="Twich"
APP_PORT="4000"
ALLOWED_ORIGIN="http://loalhost:4000"

# postgres config
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASS="postgres"
POSTGRES_DB="twich"
POSTGRES_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASS}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

# redis config
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_USER="default"
REDIS_PASS="123456"
REDIS_URI="redis://${REDIS_USER}:${REDIS_PASS}@${REDIS_HOST}:${REDIS_PORT}"

# smtp config
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="*****@gmail.com"      # Your email addres
SMTP_PASS="**** **** **** ****"  # Your app password from google or another provider
SMTP_FROM="Twich"

# cookie config
COOKIE_SECRET="secret"           # Key to sign/verify cookies (prevent tampering)
SESSION_SECRET="secret"          # Secret to sign the session ID cookie
SESSION_NAME="session_auth"      # Name of the session cookie
SESSION_DOMAIN="localhost"       # Domain where the cookie is valid
SESSION_MAX_AGE="86400000"       # Session lifespan in ms (e.g., 1 day)
SESSION_HTTP_ONLY="false"        # If set to true it prevents client-side JS from accessing the cookie
SESSION_SECURE="false"           # Send cookie only over HTTPS (set to true in prod)
SESSION_FOLDER="sessions:"       # Path for storing session data (if file-based)
SESSION_SAME_SITE="lax"          # Controls whether the browser sends cookies along with cross-site requests.
                                 # Options: "strict", "lax", or "none" (never ever use "none", even with HTTPS only)

# graphql config
GRAPHQL_PREFIX="/graphql"        # URL prefix for the GraphQL endpoint

# aws config
AWS_ACCESS_KEY_ID="secret"                 # AWS IAM access key ID (use IAM role in prod instead)
AWS_SECRET_ACCESS_KEY="secret"             # AWS IAM secret access key (never commit to version control)
AWS_S3_BUCKET_NAME="twich"                 # S3 bucket name for storing uploaded files
AWS_REGION="us-east-1"                     # AWS region where the S3 bucket is located
AWS_S3_ENDPOINT="https://localhost:9000"   # Custom S3-compatible endpoint (e.g., MinIO for local dev)
# AWS_S3_PUBLIC_URL=                       # Base public URL for accessing S3 objects (e.g., CDN or bucket URL)
# AWS_S3_ACL=                              # Default ACL for uploaded objects (e.g., "private", "public-read")

# livekit api
LIVEKIT_URL="wss://your_api_url"
LIVEKIT_API_KEY="secret"
LIVEKIT_API_SECRET="secret"

# telegram
TELEGRAM_BOT_TOKEN="secret"
